body {
  margin: 0;
  padding: 3%;
  font-family: 'Fredericka the Great', sans-serif;
  background-image: url('/../chalkboard.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

h1 {
  font-family: 'Fredericka the Great', sans-serif;
  font-weight: normal;
  color: white;
  font-size: 60px;
}

.ui.center.aligned.header.modal-Title {
  font-family: 'Fredericka the Great', sans-serif;
  font-weight: normal;
  color: white;
  font-size: 40px;
}

#wrapper {
  background-color: rgba(0, 0, 0, 0.4);
}

.ui.horizontal.inverted.Header {
  font-size: 1.3em;
  color: white;
}

.ui.modal.transition.visible.active {
  /*this gets rid of that white bar on top of modals*/
  background-color: black;
}

.ui.segment.project {
  background-color: rgba(0, 0, 0, 0.4);
}

.ui.segment.modal-Segment {
  background-color: rgba(0, 0, 0, 0.95);
}


.ui.compact.bottom.attached.button {
  font-family: 'Fredericka the Great';
}

.Description {
  color: white;
  font-family: courier;
}

.Expanded {
  color: white;
  font-family: arial;
}

#languages {
  font-family: courier;
}

#bio {
  font-size: 15px;
  text-align: center;
  color: rgb(200, 200, 200);
}

#skills {
  font-size: 45px;
}
